<a href="https://colab.research.google.com/github/aruaru0/kaggle_h_and_m/blob/main/H%26M_item2vec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from gensim.models import word2vec
import pandas as pd

In [ ]:
customers = pd.read_csv("/content/drive/MyDrive/datas/h_and_m/customers.csv")
items = pd.read_csv('/content/drive/MyDrive/datas/items.csv')

In [ ]:
items.head()
items.iloc[0]['customer_id']

'000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318'

In [ ]:
items.dtypes

customer_id    object
items          object
dtype: object

In [ ]:
items[items['customer_id']=='00a4f2c8cc87ffb0ea7db47b4b0b247b9ef11033c8d976f374f709a6fb80f1b9']

,customer_id,items
35,00a4f2c8cc87ffb0ea7db47b4b0b247b9ef11033c8d976...,610097001 640755002 559193001 615307002 637075...

In [ ]:
model = word2vec.Word2Vec.load("/content/drive/MyDrive/datas/word2vec.model")

In [ ]:
model.wv.most_similar('610097001', topn=12)

[('511242001', 0.8731133937835693),
 ('410024007', 0.8599233627319336),
 ('553800001', 0.8595214486122131),
 ('329052020', 0.8572720289230347),
 ('745256004', 0.8551398515701294),
 ('581102001', 0.8487990498542786),
 ('585200001', 0.848778486251831),
 ('606727001', 0.8464922904968262),
 ('487050005', 0.8449820280075073),
 ('485691001', 0.8415278196334839),
 ('580680001', 0.8414571285247803),
 ('562636001', 0.8413000702857971)]

In [ ]:
import tqdm
c_list = []
pred_list = []

for i in tqdm.tqdm(range(len(items))) :
  id, item = items.iloc[i]
  m = model.wv.most_similar(item.split(), topn=12)
  d = []
  for x, p in m :
    d.append(x)
  c_list.append(id)
  pred_list.append(" ".join(d))

df = pd.DataFrame()
df['customer_id'] = c_list
df['prediction'] = pred_list

df

100%|██████████| 1362281/1362281 [4:58:53<00:00, 75.96it/s]

,customer_id,prediction
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,838358001 855767002 564358053 591466047 818059...
1,00007d2de826758b65a93dd24ce629ed66842531df6699...,533618007 693805002 517931010 599742006 643642...
2,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,687033002 559619004 559717004 559619003 649677...
3,0008968c0d451dbc5a9968da03196fe20051965edde741...,777273005 529841002 685848002 660312001 675827...
4,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,709414002 657512002 739354003 556699002 670169...
...,...,...
1362276,fe99a0069d6b3c64c2707d0ce53b9311540917471d82df...,867969002 677930077 677930086 715624051 867969...
1362277,fecc5f77b5f7ee4570efde9ab05ec94d0de2bf80efb4f6...,854602009 854602008 916866001 909588006 762846...
1362278,fece2f68864c311a0b5208e2eb735b3dcde7e41461d327...,822311016 860797003 891763004 883026003 887681...
1362279,fee56cc5315dafb35a4490ccc6f711092cae913550c832...,902999001 898860002 786022008 899282001 898860...
1362280,ff5b8a8b26bf93a66290e9bd1b73393ac6a58968a78519...,767423010 767423011 761406005 767423013 902265...

In [ ]:
df.to_csv("/content/drive/MyDrive/datas/submission.csv", index=False)

In [ ]:
df.to_csv("/content/drive/MyDrive/datas/submission.csv", index=False)